@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1e1e1e;
  color: white;
}

/* Custom Scrollbar for Windows/Webkit */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #1e1e1e;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}